body {
  margin:0;
  width:100vw;
  overflow-x: hidden;
  height:auto;
  font-family: sans-serif;
  background-repeat:no-repeat;
  background-size:cover;
  position: relative;
  padding: 0;
}
#contents{
  position: relative;
}
#university-name{
  position: absolute;
  margin-top:-4vw;
  width: 100vw;
  text-align: center;
  font-size: 1vw;
  color: rgb(60, 60, 60);
}

#en-jp{
  position: absolute;
  margin-top:-2.5vw;
  right:2vw;
}
.switch{
  font-weight: bold;
  font-size: 1.4vw;
  color: rgb(60, 60, 60);
  text-align: right;
  margin-right: 2vw;
  margin-top:-2.0vw;
  width: 5vw;
  float: right;
  clear: both;
  cursor: pointer;
}
.switch:hover{
  opacity:0.5;
}


h1 {
  font-size: 3vw;
  color: white;
}

#studioTopDiv {
  /* background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: saturate(70%); */
  margin:0;
  padding:0;
  margin-top: 5vw;
  height: 40vw;
  width: 100vw;
  position: relative;
  overflow: hidden;
  text-align: center;
}
#studioTopPhoto{
  background-size: cover;
  height: 40vw;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(80%);
  position: absolute;
  z-index:1;
}
.studio-title{
  margin-bottom:auto;
  font-size:4vw;
  top:15vw;
  width:100vw;
  position: absolute;
  z-index: 2;
}
#main-contents{
  width:100vw;
  height:auto;
  padding:0;
  margin-top:-2vw;
  background-repeat:no-repeat;
  background-size: 150px;
  background-size: 100vw auto;
  color:rgb(99, 99, 99);
}
#studio-about{
  margin:0;
  padding-top:10vw;
  margin-left:10vw;
  padding-bottom:3vw;
}
.paragraph-name{
  font-size:3vw;
  padding-top:5vw;
  padding-bottom: 0;
}
#studio-description{
  width:50vw;
  font-size: 1.2vw;
  line-height: 2.5vw;
}
#studioGalleryDiv{
  margin-top:0;
  width:50vw;
  height:35vw;
  text-align: left;
  overflow:hidden;
  background-color:rgb(255, 255, 255, 0.5);
}
.studio-photo{
  width:50vw;
  height:35vw;
	object-fit:cover;
  position: absolute;
  overflow: hidden;
}
#studioPhotoThumbnails{
  width:50vw;
  text-align: left;
  height: 9vw;
  margin-top:1vw;
  right:18vw;
}
.studio-photo-thumbnail{
  z-index: 3;
  height: 14vw;
  overflow: hidden;
  vertical-align:top;
  padding:0;
  margin:0.5vw;
  transition:0.5s;
  height:7vw;
	object-fit:cover;
}
.studio-photo-thumbnail:hover{
  opacity: 0.5;
  cursor: pointer;
}
#about-faculty{
  position: relative;
  vertical-align:bottom;
  height: 20vw;
  padding:0;
}
#faculty-photo{
  bottom: 0;
  left: 0vw;
} 
#faculty-photo img{
  width:15vw;
} 
#studio-faculty{
  top:-3vh;
  width:20vw;
  left: 20vw;
  margin:0;
  padding:0;
  font-size: 1.5vw;
}

.CP{
  margin-top:10vw;
  font-weight: 200;
  text-align: center;
  font-size: 10px;
  color: rgb(70, 70, 70);
}